@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<img src='@Url.Action("myChart1")' alt="" />

<img src='@Url.Action("myChart2")' alt="" />

<img src='@Url.Action("myChart3")' alt="" />
<img src='@Url.Action("myChart4")' alt="" />
<img src='@Url.Action("myChart5")' alt="" />

<img src="~/Chart/myChart1" alt="" />